<div class="row">

<!-- HEADER -->
  <div class="col-md-2">
    <h3 id="">Date</h3>
  </div>
  <div class="col-md-5">
    <h3 id="">10:30-11:40</h3>
  </div>
  <div class="col-md-5">
    <h3 id="">Noon-1:10</h3>
  </div>
</div>

<!-- WEEK 1 -->
<div class="row">
  <div class="col-md-2">
     Jan 27
  </div>
    <a href="https://ufs-community.github.io/ufs-analysis/">UFS Analysis</a>
  </div>
  <div class="col-md-5">
    Computer Accounts<br>
    <a href="https://clim680.github.io/AOES-CLIM-intro-gmu-computing/">Intro to GMU computing</a>
  </div>
</div>
<br>
